@media  screen and (max-width: 1090px)
{

  header #menu
  {

  	height: 100%;
  	position: fixed;
  	background: #610B0B;
  	top: 0;
  	left:-100%;
  	width: 300px;
  	margin: 0px auto;


  }

  header #menu ul a
  {

  	display: block;
  }

  #abrir_menu
  {

      display: block;

  }
  header #menu nav
  {

  	display: block;
  }
  #acercas_main
  {

    width: 100%;
  }
}
@media  screen and (max-width: 450px)
{
  header #menu
  {

width: 80%;


  }
  #inicio img
  {
height: 100px;


  }

}